<!DOCTYPE html>
<html>
<head>
  <title>Bocatas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu">
  	<a href="/">Inicio</a>
    <a href="/sandwiches">Bocatas</a>
    <a href="/ingredients">Ingredientes</a>
    <a href="/drinks">Bebidas</a>
    <a href="/sales_headers">Pedidos</a>
  </div>
  <%= yield %>

</body>
</html>
